<script src="https://giscus.app/client.js"
        data-repo="gangjeuk/digitalgarden"
        data-repo-id="R_kgDOKfwsrQ"
        data-category="Q&A"
        data-category-id="DIC_kwDOKfwsrc4CaGIQ"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="dark_protanopia"
        data-lang="ko"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>


<div class="giscus"></div>
