

<script async src="https://www.googletagmanager.com/gtag/js?id=G-YCLFCS38N6"></script>
<script>
  //NOT ANAL
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YCLFCS38N6');
</script>