body.theme-dark.notes {
  @media screen and (min-width: 1024px) {
    .content,
    .navbar {
      max-width: 80vw !important;
    }
    .external-link {
      background-image: none;
    }

    img[alt*="masthead"] {
      width: 100%;
      margin: 0px auto;
      position: fixed;
      top: 0;
      left: 0;
      -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0))
      );
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
      );
      opacity: 0.4;
      z-index: -1;
    }

    .content-name {
      display: inline-block;
      width: 340px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  #hello {
    text-align: center;
  }

  .content img {
    border-radius: 8px;
  }

  .is {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    .is__item {
      margin-right: 20px;
      margin-bottom: 20px;
      width: calc(33.33% - 14px);
      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
    .is__item a {
      display: block;
    }
    .is__item img {
      display: block;
    }
  }

  #bookwyrm-reading .is {
    .is__item {
      width: auto;
    }
    .is__item img {
      height: 200px;
    }
  }
  .study-covers {
    ul {
      margin-left: 0;
      padding-left: 0;
      list-style-type: none;
      li {
        vertical-align: top;
        display: inline-block;
        margin-right: 12px;
        max-width: 360px;
        img {
          height: 340px;
          width: 360px;
        }
        transition: transform 250ms;
      }
      li:hover {
        transform: translateY(-10px);
      }
    }
  }

  .book-covers {
    ul {
      margin-left: 0;
      padding-left: 0;
      list-style-type: none;
      li {
        display: inline-block;
        margin-right: 12px;
        max-width: 200px;
        img {
          height: 200px;
        }
        transition: transform 250ms;
      }
      li:hover {
        transform: translateY(-10px);
      }
    }
  }
}
